In [2]:
import pandas as pd
from apyori import apriori
store_data=pd.read_csv(r"C:\Insight Files\apriori.csv")
store_data

     0     1      2      3       4     5 Unnamed: 6
0    0  Wine  Chips  Bread  Butter  Milk      Apple
1    1  Wine    NaN  Bread  Butter  Milk        NaN
2    2   NaN    NaN  Bread  Butter  Milk        NaN
3    3   NaN  Chips    NaN     NaN   NaN      Apple
4    4  Wine  Chips  Bread  Butter  Milk      Apple
5    5  Wine  Chips    NaN     NaN  Milk        NaN
6    6  Wine  Chips  Bread  Butter   NaN      Apple
7    7  Wine  Chips    NaN     NaN  Milk        NaN
8    8  Wine    NaN  Bread     NaN   NaN      Apple
9    9  Wine    NaN  Bread  Butter  Milk        NaN
10  10   NaN  Chips  Bread  Butter   NaN      Apple
11  11  Wine    NaN    NaN  Butter  Milk      Apple
12  12  Wine  Chips  Bread  Butter  Milk        NaN
13  13  Wine    NaN  Bread     NaN  Milk      Apple
14  14  Wine    NaN  Bread  Butter  Milk      Apple
15  15  Wine  Chips  Bread  Butter  Milk      Apple
16  16   NaN  Chips  Bread  Butter  Milk      Apple
17  17   NaN  Chips    NaN  Butter  Milk      Apple
18  18  Wine  Chips  Bread  Butter  Milk      Apple
19  19  Wine    NaN  Bread  Butter  Milk      Apple
20  20  Wine  Chips  Bread     NaN  Milk      Apple
21  21   NaN  Chips    NaN     NaN   NaN        NaN